body{
  background: linear-gradient(rgb(217, 81, 81),rgb(97, 215, 197));
}
h1{
  font-size: 80px;
  color:#000000;
  padding-top: 30%;
  margin-left: 30px;
  font-family: 'Exo 2', sans-serif;
}
h5{
  margin-left: 30px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
p{
  font-weight: bold;
  color: #251B37;
  margin-left: 30px;
  letter-spacing: 0.1rem;
}

/* .navbar {
    
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  }
  
  @supports (-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
    .navbar-b.navbar-reduce {
      transition: all 0.5s ease-in-out;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgba(30, 30, 30, 0.2);
      backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
      -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    }
} */

.discription{
  padding-left:5% ;
}

.car{
  text-shadow: black,1px 1px 1px 1px;
  margin-left:auto;
  width: 100%;
  padding-right:40px ;
}
